<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <li><a href="/tasks/"> Create Task</a></li>
    {% if tasks %}
        <ul>
        <table style="width:100%">
            <tr>
                <th>Description</th>
                <th>Time Remaining</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>
                    <a href="/tasks/{{ task.id }}/">{{ task.description }}</a>
                </td>
                <td>{{  task.time_remaining }}</td>
                <td>
                    <a href="/tasks/{{ task.id }}/delete/"> DELETE </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        </ul>
    {% else %}
        <p>No tasks are available.</p>
    {% endif %}
</body>
</html>